# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Logs
*.log

# Docker
*.tar
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# GitHub actions artifacts
.github/workflows/*.bak
